nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 10vh;
  max-height: 80px;
  min-height: 50px;
}

.logoImg {
  height: 50px;
  padding-right: 2vw;
}

.logoFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links {
  display: flex;
  gap: 5px;
}
